<div class="modal">
    <%= form_with model: @contract, method: :post do |f| %>
        <h1>Договоры</h1>
        <%= f.label :"Код договора" %><br><br>
        <%= f.text_field :id, required: true %><br><br>
        <%= f.submit "Поиск" %><br><br>
        <%= link_to "Новый договор", "/contracts/new" %><br>
        <%= link_to "Список тарифов", "/tarifs/show" %><br>
        <%= link_to "Выйти", session_path, data: {method: :delete} %>
    <% end %>
</div>