<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create</title>
    <style>
        .modal{
            padding: 50px;
            background: #ccc;
            position: fixed; top: 50%; left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }
        .cent{
            position: fixed; left: 41%;
        }
        .input{
            width: 100%;
        }
        .button{
            width: 50%;
        }
        </style>
</head>
<body>
    <div class="modal">
        <%= form_with model: @contract, url: '/contracts/create' do |f| %>
            <%= f.label :"Имя" %><br><br>
            <%= f.text_field :username, required: true %><br><br>
            <%= f.label :"Фамилия" %><br><br>
            <%= f.text_field :usurname, required: true %><br><br>
            <%= f.label :"Лицо" %><br><br>
            <%= f.text_field :face, required: true %><br><br>
            <%= f.label :"Тариф" %><br><br>
            <%= f.text_field :tarif_id, required: true %><br><br>
            <%= f.submit "Создать" %>
        <% end %>
    </div>

    
</body>
</html>