<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create</title>
    <style>
        .modal{
            padding: 50px;
            background: #ccc;
            position: fixed; top: 50%; left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }
        .cent{
            position: fixed; left: 41%;
        }
        .input{
            width: 100%;
        }
        .button{
            width: 50%;
        }
        </style>
</head>
<body>   
    <table class="modal">
        <td>
            <%= form_with model: @adress, url: 'create' do |f|%>
                <%= f.label :"Город" %><br><br>
                <%= f.text_field :city, required: true %><br><br>
                <%= f.label :"Улица" %><br><br>
                <%= f.text_field :street, required: true %><br><br>
                <%= f.label :"Дом" %><br><br>
                <%= f.text_field :house, required: true %><br><br>
                <%= f.label :"Кваритира" %><br><br>
                <%= f.text_field :home, required: true %><br><br>
                <%= f.submit "Создать" %>
            <% end %>
        </td>
    </table>
</body>